<div class="splash" data-splash>
	<div>
		<img class="img-responsive" src="assets/img/high-speed-train.jpg">
		<h1>Train Tracking</h1>
		<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi felis, dictum vitae luctus tincidunt, malesuada eu libero. Pellentesque gravida tempor erat, sit amet congue ligula venenatis nec. Nullam tempor mauris vel diam blandit, et placerat magna convallis. Pellentesque dolor mauris, semper commodo arcu id, mattis rhoncus ligula.</h5>
		<div class="btn-group btn-inline">
			<a type="button" class="btn-primary i-understand" ng-href="#/main" ng-click="stateObject.initialLoading = false">I understand!</a>
			<a type="button" class="btn-link i-not-understand" ng-href="javascript: void(0)">Cancel</a>
		</div>
	</div>
</div>