<div class="main-navigation">
	<div class="item-wrapper">
		<a class="btn-primary" ng-href="#/my-location">My Location</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi lacus, rutrum id interdum sed, scelerisque eu diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec facilisis orci, ut pretium orci.</p>
	</div>
	<div class="item-wrapper">
		<a class="btn-primary" ng-href="#/search-bus">Search for a bus</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi lacus, rutrum id interdum sed, scelerisque eu diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec facilisis orci, ut pretium orci.</p>
	</div>
	<div class="item-wrapper">
		<a class="btn-primary" ng-href="#/search-restoraunt">Search for a restoraunt</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi lacus, rutrum id interdum sed, scelerisque eu diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus nec facilisis orci, ut pretium orci.</p>
	</div>
</div>