body {
	font-size: 16px;
}

.splash {
	background-color: #000;
	display: block !important;
	height: 100%;
	position: fixed;
	width: 100%;

	div {

		&:first-child {
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    width: 60%;
		    max-width: 500px;

			img {
				height: auto;
				max-width: 100%;
				width: 100%;
			}

			h1 {
				color: #fff;
				font-size: 4.236em;
				text-align: center;
			}

			h5 {
				color: #fff;
				text-align: center;
			}
		}

		&:last-child {
			text-align: center;

			.btn-group.btn-inline a {
				color: #fff;
		        display: inline-block;
		        text-decoration: none;

			    &:first-child {
			    	margin-right: 5px;
			    }

			    &:last-child {
			    	margin-left: 5px;
			    }

			    &:hover {
			    	text-decoration: underline;
			    }
		    }
		}
	}
}

.main-navigation {
	padding: 5%;

	.item-wrapper {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			display: block;
			padding: 15px 0;
			text-align: center;
		}

		p {
			font-size: 0.707em;
		}
	}
}